
.popup{
	//задаем фиксированное окно на всю широту и высоту экрана
	position: fixed;
	color:white;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0 ,0 , 0.8);
	top: 0;
	left: 0;
	// скрываем попап окно
	opacity: 0;
	visibility: hidden;
	// для скрола
	overflow-y: auto;
	overflow-x: hidden;
	//анимация плавного появления
	transition: all 0.8s ease 0s;
}

//подключаем открытие попап через js
.popup.open{
	opacity: 1;
	visibility:visible;
}


.popup__body{
	// делаем на весь экран и центрируем всё внутри блока
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

// окно,которое видит пользователь
.popup__content{
	position: relative;
	background-color: white;
	color: black;
	// размер окна
	max-width: 800px;
	//внутренние отступы
	padding: 30px;
	//анимация появления внутри popup
	transition: all 0.8s ease 0s;
	opacity: 0;
	// улучшенная анимация
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

// при открытии возвращаем ему начальные параметры
.popup.open .popup__content{
	opacity: 1;
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

// крестик закрыть
.popup__close {
position: absolute;
right: 10px;
top: 10px;
width: 15px;
height: 15px;
opacity: 0.3;
}
.popup__close:hover {
opacity: 1;
}
.popup__close:before, .popup__close:after {
position: absolute;
/* left: 15px; */
content: ' ';
height: 20px;
width: 2px;
background-color: #333;
}
.popup__close:before {
transform: rotate(45deg);
}
.popup__close:after {
transform: rotate(-45deg);
}
// конец крестика

// заголовок окна
.popup__title{
	text-align: center;
	font-size: 40px;
	/* margin: 0 0 40px 0; */
}

// текст окна
.popup__text{}

body.lock{
	overflow: hidden;
}

.links{
	margin-top: 40px;
}

@media (max-width: 450px) {
	.popup__content{
		width: 300px;
	}

	
}